{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance de Comprobación</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles/comprobacion.css' %}">
</head>
<body>
  <div class="sidebar">
    <div class="py-4 text-center logo">
      <a href="/"><img src="{% static 'img/home.png' %}" alt="home"></a>
    </div>
    <a onclick="history.back()" class="aclass">Regresar</a>
    <a href="logout" class="logout-link">Cerrar sesión</a>
  </div>

  <div class="content d-flex justify-content-center align-items-center flex-column">
    <h2 style="margin-bottom: 15px;">Balance de Comprobación</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre de Cuenta</th>
                <th>Debe Total</th>
                <th>Haber Total</th>
            </tr>
        </thead>
        <tbody>
            {% for cuenta in resultados %}
            <tr>
                <td>{{ cuenta.nombre }}</td>
                <td>${{ cuenta.resumen_cuentas__debe_total }}</td>
                <td>${{ cuenta.resumen_cuentas__haber_total }}</td>
            </tr>
            {% endfor %}
            <tr style="background-color: rgb(255, 157, 157);">
              <td>Total</td>
              <td>${{ suma_debe }}</td>
              <td>${{ suma_haber }}</td>
            </tr>
            
        </tbody>
    </table>
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
